<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card row shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot-Password</h2>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email" #email placeholder="Enter Your Email" required>
                  </div>

                  <!-- <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
                  </div> -->
                  <div class="d-grid">
                  <button type="submit" class="btn btn-primary" (click)="authservice.ResetPassword(email.value)">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>