<!-- In your Angular component template -->
<div class="container my-3">
    <div class="row">
        <!-- Card for 'done' -->
        <div class="col" (click)="gotoCompleted()">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-check-circle-fill" style="color: green;"></i>
                    <div class="card-text">
                        <div>{{completedTaskCount}} Completed</div>
                        <div class="text-muted">in the last 7 days</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Card for 'updated' -->
        <div class="col" (click)="gotoHold()">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-arrow-up-circle-fill" style="color: blue;"></i>
                    <div class="card-text">
                        <div>{{holdTaskCount}} Hold</div>
                        <div class="text-muted">in the last 7 days</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Card for 'created' -->
        <div class="col" (click)="gotoStart()">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-plus-circle-fill" style="color: purple;"></i>
                    <div class="card-text">
                        <div>{{createTaskCount}} Started</div>
                        <div class="text-muted">in the last 7 days</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Card for 'due' -->
        <div class="col" (click)="gotoStop()">
            <div class="card text-center">
                <div class="card-body">
                    <i class="bi bi-clock-fill" style="color: red;"></i>
                    <div class="card-text">
                        <div>{{stopTaskCount}} Stop</div>
                        <div class="text-muted">in the next 7 days</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-body">
        <div class="row">
            <div class="col-4 mt-5">
                <div style="height: 100%">
                    <div id="myChart" style="height: 100%"></div>
                  </div>
            </div>

            <div class="col-6 mt-5">
                <div style="height: 100%">
                    <div id="myChart1" style="height: 100%"></div>
                  </div>
            </div>
        </div>
        
    </div>
</div>

  

