.login-container {
    position: relative;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    margin-top: 90px;
    background-color:rgb(195, 191, 191);
  }
  h2{
    background-color: white;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    /* margin-top: 10px; */
    font-weight: bold;
    /* margin-left: -280px; */
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 69px;
    margin-left: 122px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .forgot-password {
    margin-top: -10px;
    margin-left: 230px;
  }
  
  a {
    text-decoration: none;
    /* margin-right: -10px; */
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .password-container {
    position: relative;
  }

  .sign-up{
    color: #fff;
  }

  login{
    margin-left: 10px;
  }

  :host {
    display: flex;
    width: 100%;
    align-items: center;
  .type-toggle {
      padding-inline-start: 0.5rem;
  .show-option,
      .hide-option {
        font-size: 1.2rem;
        display: block;
        &:not(ion-icon) {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }

  
  