<div class="login-container">
    <h2 style="text-align: center;">Sign-Up</h2>
    <form>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>
  
      <label for="Mobile">Mobile</label>
      <input type="text" id="password" name="Mobile" placeholder="Enter your number" required>
      <label for="Email">Email</label>
      <input type="text" id="password" name="Email" placeholder="Enter your Email" required>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>
      <button type="submit">Login</button>
    </form>
    <div class="text-center" style="text-align: center;">
        Already have an account ?<a routerLink="/login">Login</a> here.
      </div>
  </div>
  